<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
  </head>
  <body>

    <div class="navbar">
      <table>
      <tr class="ul_navbar">
        <td class="nav_li"><a href="/home/">Home</a></td>
        <td class="nav_li"><a href="/home/registeruser">Register</a></td>
        <td class="nav_li"><a href="/home/userlogin">Login</a></td>
        <td class="nav_li"><a href="/home/userlogout">Logout</a></td>
      </tr>
      </table>
      <li class="website_title">Pokebase</li>
      <ul>
        <li class="username_display"><span class="username_span">{{#username}}{{.}}{{/username}}</span></li>
        {{#userId}}
        <li><a href="/home/{{.}}">Account</a></li>
        {{/userId}}
      </ul>
    </div>

    {{#pokemon}}

    <div class="div_for_pokedex">
      <div class="pokedex_left">
        <div class="pokemon_name">{{name}}</div>
        <div class="display_image"></div>
        <form action="/home/catchpokemon/{{id}}" method="POST">
          <button>Catch</button>
        </form>
      </div>

      <div class="pokedex_right">
        <div class="pokemon_description">
          {{desc}}
      </div>
    </div>

    {{/pokemon}}
  </body>
</html>
