<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/smallDevices.css" media="screen and (min-width:320px)"/>
    <link rel="stylesheet" type="text/css" href="/public/betweenSmallPlus.css" media="screen and (min-width:376px)"/>
    <link rel="stylesheet" type="text/css" href="/public/plusDevices.css" media="screen and (min-width:420px)"/>
    <link rel="stylesheet" type="text/css" href="/public/tabletDevices.css" media="screen and (min-width:768px)"/>
    <link rel="stylesheet" type="text/css" href="/public/laptopReg.css" media="screen and (min-width:1024px)"/>
    <link rel="stylesheet" type="text/css" href="/public/laptopLarge.css" media="screen and (min-width:1440px)"/>
    <link rel="stylesheet" type="text/css" href="/public/television.css" media="screen and (min-width:2000px)"/>
  </head>
  <body>

    <div class="header">
      <table>
      <tr>
          <td class="pokemon_font">Pokebase</td>
          <td><img class="pokeball_img" src="/public/pokeball.png"></td>
      </tr>
      <table class="login_table">
        <tr>
          <th colspan="3">
            <span class="username_span">{{#username}}{{.}}{{/username}}</span>
            {{#userId}}<a href="/home/{{.}}">Account</a>{{/userId}}
          </th>
        </tr>

        <tr>
          <td class="login_li"><a class="login_anchor" href="/home/registeruser">Register</a></td>
          <td class="login_li"><a class="login_anchor" href="/home/userlogin">Login</a></td>
          <td class="login_li"><a class="login_anchor" href="/home/userlogout">Logout</a></td>
        </tr>
      </table>

    </div>

    <table class="navbar">
      <tr>
        <td class="nav_elements"><a href="/home">Home</td>
          {{#pokemon}}<td class="nav_elements"><a href="/home/pokemon/{{pokeid}}/update">Update</td>{{/pokemon}}
      </tr>
    </table>


    {{#pokemon}}

    <div class="div_for_pokedex">

      <div class="pokedex_left">
        <div class="pokemon_id">{{pokeid}}</div>
        <div class="display_image">
          <img class="pokemon_image" src="/{{image}}">
        </div>

        <table class="catch_table">
          <tr>
        <td>
          <form action="/home/catchpokemon/{{id}}" method="POST">
            <button class="catch_button">Catch</button>
          </form>
        </td>
        <td><button class="pokemon_button"><a class="pokemon_json" href="/home/pokemon/{{id}}/json">JSON</a></button></td>
      </tr>
      </table>

        <div class="pokemon_name">{{name}}</div>

      </div>

      <div class="pokedex_right">
        <div class="pokemon_description">{{desc}}</div>

      <table class="pokemon_stats">
        <tr>
          <td class="pokemon_stat">HP: {{hp}}</td>
          <td class="pokemon_stat">ATK: {{attack}}</td>
          <td class="pokemon_stat">DEF: {{defense}}</td>
        </tr>
        <tr>
          <td class="pokemon_stat">SPD: {{speed}}</td>
          <td class="pokemon_stat">SP ATK: {{spattack}}</td>
          <td class="pokemon_stat">SP DEF: {{spdefense}}</td>
        </tr>
      </table>

    </div>

    {{/pokemon}}
  </body>
</html>
