<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/home/userlogin" method="POST">
      <input type='text' name="username" placeholder="Username">
      <input type='text' name="password" placeholder="Password">
      <button>Login</button>
    </form>



  </body>
</html>
