.header {
  display:flex;
  flex-direction: row;
}

.website_title {
  font-size: 2.9em;
}

.username_span {
  font-size: .9em;
}

.login_anchor {
  font-size: .8em;
}

.pokeball_img {
    height: 3.5em;
    width: 3.5em;
}

.login_table {
  font-size: 1.4em;
  position: absolute;
  right: 0;
}

.navbar {
  font-size: 1.2em;
}

.contain_all {
  display: flex;
  flex-direction: row;
  width: 90%
}

.contain_left_center {
  width:75%;
}

.left_side_bar {
  font-size: 1.3em;
  width: 30%;
}

.pokemon_div_container {
  font-size: 1.3em;
  width: 55%;
}

.home_pokemon_image {
  width: 70px;
  height: 70px;
}

.right_side_bar {
  font-size: 1.3em;
  width: 20%;
}

/* User Login */
.login {
  width: 25%;
}

.login_input {
  font-size: 1em;
  padding: .7em;
  width: 80%;
}

.login_button {
  font-size: 1.1em;
}
