.header {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.login_table {
  position: inherit;
}

.contain_all {
  display: flex;
  flex-direction: column;
}

.contain_left_center {
  display: flex;
  flex-direction: column;
}

.left_side_bar {
  font-size: 1.1em;
  margin: 1em auto 0 auto;
  text-align: center;
  width: 90%
}

.pokemon_div_container {
  font-size: 1.1em;
  margin: 1em auto 0 auto;
  width: 90%;
}

.home_pokemon_image {
  height: 60px;
  width: 60px;
}

.right_side_bar {
  font-size: 1.1em;
  width: 90%;
  margin: 1em auto 0 auto;
}
